* {
    background: #242426e6;
    selection: #0a84ffd9;
    border-color: #ffffff20;
    foreground: #d1d1d6ff;
    foreground-strong: #f5f5f7ff;
    foreground-muted: #8e8e93ff;
    background-color: transparent;
    text-color: @foreground;
    font: "IBM Plex Sans 12";
}

@import "apple-base.rasi"
