* {
    background: #f5f5f7e6;
    selection: #007affd9;
    border-color: #00000020;
    foreground: #1c1c1eff;
    foreground-strong: #000000ff;
    foreground-muted: #6c6c70ff;
    background-color: transparent;
    text-color: @foreground;
    font: "IBM Plex Sans 12";
}

@import "apple-base.rasi"
